.panel-area {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  overflow: hidden;

  &.dragging {
    user-select: none;

    * {
      pointer-events: none;
    }
  }
}

.panel-gutter {
  position: absolute;
  z-index: 10;
  transition: all 0.2s ease;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;

  &::before {
    content: '';
    background-color: rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
  }

  .panel-area:hover &::before,
  &.dragging::before {
    background-color: var(--primary-color);
  }

  &.horizontal {
    width: calc(100% + #{2 * 8px});
    height: 8px;
    left: -8px;
    cursor: row-resize;

    &::before {
      width: 100%;
      height: 100%;
    }
  }

  &.vertical {
    width: 8px;
    height: calc(100% + #{2 * 8px});
    top: -8px;
    cursor: col-resize;

    &::before {
      width: 100%;
      height: 100%;
    }
  }

  &:hover::before,
  .panel-area.dragging &::before {
    opacity: 1;
  }
}

body.panel-dragging {
  cursor: ew-resize;
  user-select: none;
}
