<div class="panel-container" [class.panel-expanded]="expanded">
  <div class="panel-header" *ngIf="title || expandable">
    <div class="panel-title">{{ title }}</div>
    <div class="panel-actions">
      <button *ngIf="expandable"
              class="panel-action"
              (click)="toggleExpand()"
              [title]="expanded ? 'Recolher' : 'Expandir'">
        <i class="bx" [class.bx-collapse]="expanded" [class.bx-expand]="!expanded"></i>
      </button>
    </div>
  </div>
  <div class="panel-content">
    <ng-content></ng-content>
  </div>
</div>
