<div class="pagination">
  <div class="pagination-info">
    Mostrando <span class="pagination-numbers">{{from}} - {{to}}</span> de <span class="pagination-total">{{total}}</span> itens
  </div>

  <div class="pagination-nav">
    <button class="pagination-button pagination-first"
            [disabled]="currentPage === 1"
            (click)="changePage(1)">
      &laquo;
    </button>

    <button class="pagination-button pagination-prev"
            [disabled]="currentPage === 1"
            (click)="changePage(currentPage - 1)">
      &lsaquo;
    </button>

    <div class="pagination-pages">
      @for (page of getPages(); track page) {
        <button class="pagination-page"
                [class.active]="page === currentPage"
                (click)="changePage(page)">
          {{page}}
        </button>
      }

      @if (showEllipsisStart) {
        <span class="pagination-ellipsis">...</span>
      }
      @if (showEllipsisEnd) {
        <span class="pagination-ellipsis">...</span>
      }
    </div>

    <button class="pagination-button pagination-next"
            [disabled]="currentPage === lastPage"
            (click)="changePage(currentPage + 1)">
      &rsaquo;
    </button>

    <button class="pagination-button pagination-last"
            [disabled]="currentPage === lastPage"
            (click)="changePage(lastPage)">
      &raquo;
    </button>
  </div>

  <div class="pagination-size">
    <label for="perPage">Itens:</label>
    <select id="perPage" class="pagination-select"
            [(ngModel)]="perPage"
            (change)="onPerPageChange()">
      @for (opt of perPageOptions; track opt) {
        <option [value]="opt">{{opt}}</option>
      }
    </select>
  </div>
</div>
