<ub-base-input
  [label]="label"
  [helpText]="helpText"
  [error]="error"
  [success]="success"
>
  <div class="input-with-suggestions">
    <input
      #inputElement
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      (blur)="onBlur($event)"
      (input)="onInput($event)"
      (change)="onChangeEvent($event)"
      (click)="onClick($event)"
      [class.error]="error"
    />
    <div class="suggestions-container" *ngIf="showSuggestions && suggestions.length > 0">
      <div *ngFor="let suggestion of filteredSuggestions" class="suggestion" (mousedown)="selectSuggestion(suggestion)">
        {{ suggestion }}
      </div>
    </div>
  </div>
</ub-base-input>
