<div class="toast-container">
  @for (toast of toastService.toasts$ | async; track i; let i = $index) {
    <div
      [class]="getToastClass(toast)"
      (mouseenter)="pauseToast(toast)"
      (mouseleave)="resumeToast(toast)"
    >
      <i
        class="bx toast-icon"
        [class.bx-check-circle]="toast.type === 'success'"
        [class.bx-error-circle]="toast.type === 'error'"
        [class.bx-error]="toast.type === 'warning'"
        [class.bx-info-circle]="toast.type === 'info'"
      ></i>
      {{ toast.message }}
    </div>
  }
</div>
