<ub-content title="Advanced Layout">
  <ub-panel>
    <ub-panel-area direction="horizontal"  [size]="80">
      <ub-panel [size]="70"  title="Painel Esquerdo 1">
        Conteúdo esquerdo
      </ub-panel>

      <ub-panel [size]="30" title="Painel Direito 2">
        Conteúdo direito
      </ub-panel>
    </ub-panel-area >
    <ub-panel-area direction="vertical"  [size]="20">
      <ub-panel [size]="30"  title="Painel Esquerdo 3 ">
        <ub-panel-area direction="horizontal">
          <ub-panel [size]="50" title="Painel Esquerdo 3.1">
            Conteúdo esquerdo 3.1
          </ub-panel>
          <ub-panel [size]="50" title="Painel Esquerdo 3.2">
            Conteúdo esquerdo 3.2
          </ub-panel>
        </ub-panel-area>
      </ub-panel>

      <ub-panel [size]="70" title="Painel Direito 4" [expandable]="true">
        Conteúdo direito
      </ub-panel>
    </ub-panel-area>
  </ub-panel>
</ub-content>
