<ub-base-input>
  <div class="action-button-container">
    <button [class]="buttonClass" [disabled]="loading || disabled" (click)="toggleActions()">
      @if (icon) {
        <i class="bx {{ icon }}"></i>
      }
      @if (loading) {
        <span class="loading-spinner"></span>
      }
      <ng-content></ng-content>
      <i class="bx bxs-chevron-down dropdown-icon"></i>
    </button>

    @if (isOpen) {
      <div class="actions-menu">
        @for (action of actions; track i; let i = $index) {
          <div class="action-item" (click)="handleAction(action)">
            @if (action.icon) {
              <i class="bx {{ action.icon }}"></i>
            }
            <span>{{ action.label }}</span>
          </div>
        }
      </div>
    }
  </div>
</ub-base-input>
